[Unit]
Description=VSCOM CAN %i

[Service]
Type=forking
RemainAfterExit=true
ExecStart=/bin/slcand -o -c -f -s4 %i
ExecStop=/usr/bin/pkill -f "slcand.*%i"
Restart=no
